<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Three Little Birds</title>
        <link
            rel="shortcut icon"
            href="../../public/images/favicon.svg"
            type="image/svg"
        />
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
            integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
            crossorigin="anonymous"
        />
        <link rel="stylesheet" href="../../public/styles/style.css" />
    </head>
    <body>
        <header>
            <div class="navbar navbar-dark bg-dark shadow-sm">
                <div class="container">
                    <div class="navbar-brand d-flex align-items-center">
                        <img
                            src="../../public/images/birds.png"
                            alt="weed logo"
                            id="logo"
                        />
                        <strong>THREE LITTLE BIRDS</strong>
                    </div>
                    <div>
                        <a class="btn btn-success" href="../views/register.html"
                            >Register
                        </a>
                        <a class="btn btn-secondary" href="../views/login.html"
                            >Login
                        </a>
                    </div>
                </div>
            </div>
        </header>
        <main>
            <section class="preload">
                <video
                    src="../../public/videos/filmefumo.mp4"
                    autoplay
                    muted
                ></video>
                <h1 class="dontworry" id="hide">
                    <span>D</span>
                    <span>O</span>
                    <span>N</span>
                    <span>T</span>
                    <span></span>
                    <span>W</span>
                    <span>O</span>
                    <span>R</span>
                    <span>R</span>
                    <span>Y</span>
                </h1>
            </section>
            <div class="intro">
                <h3>
                    We harness the power of highly motivated individuals looking
                    for the next hit so you don't have to worry about your
                    chores.
                </h3>
                <br />
                <h1>So don't worry about a thing...</h1>
            </div>
            <section class="cards-section col-6 col-md-6 col-lg-6">
                <div class="card">
                    <div class="card-container">
                        <div class="card-front">
                            <img
                                src="../../public/images/clara.png"
                                alt="Clara de Sousa"
                                style="height: 100%"
                            />
                        </div>
                        <div class="card-back">
                            <img
                                src="../../public/images/esfregona.png"
                                alt="Esfregona"
                            />
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-container">
                        <div class="card-front">
                            <img
                                src="../../public/images/five.png"
                                alt="Mr. Five"
                                style="height: 100%"
                            />
                        </div>
                        <div class="card-back">
                            <img
                                src="../../public/images/ferro.png"
                                alt="Ferro de passar"
                            />
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-container">
                        <div class="card-front">
                            <img
                                src="../../public/images/maria-vieira.png"
                                alt="Maria Vieira"
                                height="100%"
                            />
                        </div>
                        <div class="card-back">
                            <img
                                src="../../public/images/garbage2.png"
                                alt="Lixeira"
                            />
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-container">
                        <div class="card-front">
                            <img
                                src="../../public/images/mendes.png"
                                alt="Fernando Mendes"
                                style="height: 100%"
                            />
                        </div>
                        <div class="card-back">
                            <img
                                src="../../public/images/maq-loica.png"
                                alt="Maquina de lavar loiça"
                            />
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-container">
                        <div class="card-front">
                            <img
                                src="../../public/images/quadros.png"
                                alt="João Quadros"
                                style="height: 100%"
                            />
                        </div>
                        <div class="card-back">
                            <img
                                src="../../public/images/maq-roupa.png"
                                alt="Maquina de lavar roupa"
                            />
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-container">
                        <div class="card-front">
                            <img
                                src="../../public/images/nobita.png"
                                alt="Nobita"
                                style="height: 100%"
                            />
                        </div>
                        <div class="card-back">
                            <img
                                src="../../public/images/roupa.png"
                                alt="Roupas"
                            />
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <footer class="text-muted py-5">
            <div class="container">
                <img
                    class="smoke"
                    src="https://media.giphy.com/media/xT9IgqjmZ870vakg4E/giphy.gif"
                    alt="smoke"
                    style="transform: rotate(90deg); margin-top: -140px"
                />
                <div class="concept">
                    <iframe
                        width="560"
                        height="315"
                        src="https://www.youtube.com/embed/_KzzQTJgV6c"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen
                    ></iframe>
                </div>
            </div>
            <p class="float-end mb-1">&copy; THREE LITTLE BIRDS</p>
        </footer>
        <script
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"
        ></script>
        <script src="../../public/scripts/script.js"></script>
    </body>
</html>
