<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Login | Three Little Birds</title>
        <link
            rel="shortcut icon"
            href="../../public/images/favicon.svg"
            type="image/svg"
        />
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
            integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
            crossorigin="anonymous"
        />
        <link rel="stylesheet" href="../../public/styles/main.css" />
    </head>
    <body class="text-center">
        <main class="form-signin">
            <form action="#">
                <a href="../views/index.html"
                    ><img
                        class="mb-4"
                        src="../../public/images/birds.png"
                        alt="weed"
                        width="120px"
                    />
                </a>
                <h1 class="h3 mb-3 fw-normal">Login</h1>
                <input
                    type="email"
                    id="inputEmail"
                    class="form-control bg-dark text-white-50"
                    placeholder="E-mail address"
                    required
                    autofocus
                />
                <input
                    type="password"
                    id="inputPassword"
                    class="form-control bg-dark text-white-50"
                    placeholder="Password"
                    required
                />
                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" value="remember-me" /> Remember
                        me
                    </label>
                </div>
                <button
                    class="w-100 btn btn-lg btn-outline-dark text-success"
                    type="submit"
                >
                    Login
                </button>
                <p class="mt-5 mb-3 text-success">
                    &copy; 2020 - Three Little Birds
                </p>
            </form>
        </main>
        <script
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
