<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Register | Three Little Birds</title>
        <link
            rel="shortcut icon"
            href="../../public/images/favicon.svg"
            type="image/svg"
        />
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
            integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
            crossorigin="anonymous"
        />
        <link rel="stylesheet" href="../../public/styles/main.css" />
    </head>
    <body class="text-center">
        <div class="container">
            <div class="row py-5 mt-4 align-items-center">
                <section class="col-md-5 pr-lg-5 mb-5 mb-md-0">
                    <img
                        src="../../public/images/birds.png"
                        alt=""
                        class="img-fluid mb-3 d-none d-md-block"
                    />
                    <h1 class="h3 mb-3 fw-normal">Three Little Birds</h1>
                </section>
                <main class="col-md-7 col-lg-6 ml-auto">
                    <form>
                        <div class="row">
                            <div class="input-group col-lg-12 mb-4">
                                <input
                                    id="name"
                                    type="text"
                                    name="name"
                                    placeholder="Full name"
                                    class="form-control bg-dark text-white-50"
                                    required
                                    autofocus
                                />
                            </div>
                            <div class="input-group col-lg-12 mb-4">
                                <input
                                    id="email"
                                    type="email"
                                    name="email"
                                    placeholder="E-mail address"
                                    class="form-control bg-dark text-white-50"
                                    required
                                />
                            </div>
                            <div class="input-group col-lg-12 mb-4">
                                <input
                                    id="phoneNumber"
                                    type="tel"
                                    name="phone"
                                    placeholder="Phone number"
                                    class="form-control bg-dark text-white-50"
                                    required
                                />
                            </div>
                            <div class="input-group col-lg-12 mb-4">
                                <input
                                    id="job"
                                    type="text"
                                    name="jobtitle"
                                    placeholder="Service title"
                                    class="form-control bg-dark text-white-50"
                                    required
                                />
                            </div>
                            <div class="input-group col-lg-12 mb-4">
                                <input
                                    id="jobdesc"
                                    type="text"
                                    name="jobdesc"
                                    placeholder="Service description"
                                    class="form-control bg-dark text-white-50"
                                    required
                                />
                            </div>
                            <div class="input-group col-lg-12 mb-4">
                                <input
                                    id="password"
                                    type="password"
                                    name="password"
                                    placeholder="Password"
                                    class="form-control bg-dark text-white-50"
                                    required
                                />
                            </div>
                            <div class="input-group col-lg-12 mb-4">
                                <input
                                    id="passwordConfirmation"
                                    type="text"
                                    name="passwordConfirmation"
                                    placeholder="Confirm password"
                                    class="form-control bg-dark text-white-50"
                                    required
                                />
                            </div>
                            <button
                                class="w-100 btn btn-lg btn-outline-dark text-success"
                                type="submit"
                            >
                                Create your account
                            </button>
                            <div class="text-center w-100">
                                <p class="text-muted font-weight-bold">
                                    Already Registered?
                                    <a
                                        href="../views/login.html"
                                        class="text-success ml-2"
                                        >Login
                                    </a>
                                </p>
                            </div>
                            <p class="mt-5 mb-3 text-success">
                                &copy; 2020 - Three Little Birds
                            </p>
                        </div>
                    </form>
                </main>
            </div>
        </div>
        <script
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
